<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.toamto.mapper.ComponentMapper">

    <select id="getComponentListByPage"  resultType="com.example.toamto.model.Component">
        select * from component
        <where>
            <if test="componentsname != null and componentsname != ''">
                AND componentsname = #{componentsname}
            </if>
            <if test="manufacturer != null and manufacturer != ''">
                AND manufacturer = #{manufacturer}
            </if>
        </where>
    </select>
</mapper>